@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin FlexMix{
    display: flex;
    align-items: center;
}
/*GENERAL STYLE*/
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul{
    padding:0px;
    margin:0px;  
}
ul li{
    list-style-type: none;
    padding:0px;
    margin:0px;
    text-align: center;
}
a:hover{
   text-decoration: none;
}
button, input{
    border-radius:0 !important;
    &:focus, &:active{
        box-shadow:none !important;
    }
}
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}
.border-radius{ /*convinian style for monre elements*/
    border-radius:50%;
}
.margin-top{ /*separete frst and second big container*/
    margin-top:30px;
} 
/*header style*/
header{
    background-color:white;  
    border-bottom: 2px solid #e7e7e7; 
    padding: 0 4px!important;
    .logo-wraper{     /*logo style*/
        margin-bottom:0;
        width: min-content;
        .logo-img{
            width: 43%;
            min-width: 135px;
            margin-left: 28px;
        }
        .logo-text{
            color: #ababab;
            border-left: 2px solid #e7e7e7;
            padding-left: 10px;
            margin-left: 7px;
            font-size: 17px;
        }
    }   
    .form-inline{     /*search button style - magnifying glass */
        border-left: 2px solid #e7e7e7;
        padding: 0 15px;
        height: 59px;
        .btn-outline-success {
            color: black;
            background-color: transparent;
            border:none;
            position:relative;
            &:hover, &:active{
                color: white;
                background-color: #5cc8f6 !important;
            }    
            &:hover:after{
                @include position(absolute, $top: 35%, $left: -28%);
                border: solid transparent;
                content: " ";
                border-right-color: #5cc8f6;
                border-width: 7px;
            }
        }
        .form-control{ /*input style*/
            border: none;
            border-bottom: 2px solid #e7e7e7;
            width: 175px;
            padding: 2px;
            &:focus{
                width: 220px;
            }
        }
        .form-control::-webkit-input-placeholder{  /*Input placeholder style Chrome/Opera/Safari */
             color: black;
        }
    }
    .navbar-nav{     /*navigation bar style*/
        .nav-item{
            border-left: 2px solid #e7e7e7;
            line-height: 43px;
            position: relative;
            &:hover{
                box-shadow: -3px 2px 17px 0px rgba(191, 191, 191, 0.73);
            }
        }
        .nav-link:first-child, .nav-link:nth-child(2) {
             padding: 8px 25px;
        } 
    
        .no-pading{
            padding-left: 25px; 
            padding-right: 0!important;
        }
        .letter-wraper{  /*second navigation bar child style-letter*/
            position: relative;
            width: 20px;
            margin: 0 auto;
            .number{
                width: 13px;
                line-height: 15px;
                background-color: #fdd900;
                font-size: 10px;
                font-weight: bold;
                @include position(absolute, $top: 7px, $left: 14px);
            }
        }            
        .fa-angle-up, .fa-angle-down{   /*third navigation bar child style-acount*/ 
            width: 20px;
            line-height: 19px;
            color: white;
            background-color: #5cc8f6;
            font-size: 18px;
            vertical-align: bottom;  
        }
        .dropdown-menu{   /*dropdown menu style*/
            @include position(absolute, $left: -73px);
            border-radius: 0;
            background-color: #57cbf5;   
            padding:0;
            .dropdown-item{
                padding: 2px 31px 2px 11px;
                color:white;
                font-size: 14px;
                line-height: 30px;
                &:hover{
                    background-color:#3fb1dc;
                }
            }
            .dropdown-item:last-child{
                border-top:1px solid white;
            }
            .fa{
                margin-right:15px; 
            }
        }    
    }   
}
/*main content style*/
.main-content{
    width: 80%;
    margin: 55px auto;
    .big-container1{
        .header{ /*main content header style*/
            background-color: #57cbf5;
            padding: 14px 20px 14px 98px;
            color:white;
            position:relative;
            .header-left, .header-right{
                display:inline;
            }
            .pic1{ /*first user pic Mark*/
                background-image: url(../img/user-mark-klein.png);
            }  
            .pic2{ /*second user pic Rebecca*/
                background-image: url(../img/user-rebeca-smith.png);
            } 
            .user-image{ /*makin relativ positioned container with user picture for absolute  bottom border and check icon*/
                @include position(absolute, $left: 11px);      
                width: 79px;
                height: 79px;
                border-radius: 50%;
                border: 4px solid  #F6F6F6;
                .myCircle { /*half circle border under user image*/
                    @include position(absolute, $left:-10px, $top:36px);
                    height: 44px;
                    width: 91px;
                    border-radius: 0 0 90px 90px;
                    border-top: none !important;
                    z-index: 8;
                }    
                .check-big{
                    @include position(absolute, $left: 63px);   
                    color: white;
                    background-color: #3ca3ca;
                    padding: 2px;
                    font-size: 12px;
                    border-radius:50%;
                }
            } 
            .name-user{
                font-size: 18px;
            }
            .fa-ellipsis-v{ /*right side of header dropdown*/
                font-size: 22px;
                vertical-align: middle;
                margin-left: 10px; 
                &:hover, &:active{
                    color:#3fb1dc;
                }
            }   
            .dropdown-dots, .dropdown-dots1{ /*dropdown edit delete*/
                width: 80px;
                background-color: white;
                @include position(absolute, $bottom: -55px, $right: 0px);
                z-index: 500;
                border: 1px solid #ababab;
                box-shadow: -3px 2px 17px 0px rgba(191, 191, 191, 0.73);
                display: none;
                li a{
                    padding: 4px 15px;
                    color: black;
                    display: block;
                    font-size: 13px;
                    text-align: left;
                    &:hover{
                        background-color:#e6e6e6; 
                    }
                } 
            }
        } 
        .header-small{  /*difrent smalerr header chris*/
            margin-left: 49px;
            margin-top: -18px;
            padding: 7px 20px 7px 72px !important;
            .pic3{
                background-image: url(../img/chrissy-davis.png);
                width: 53px;
                height: 52px;
                top: 16px;
               .circle-difrent2{
                    top: 21px;
                    left: -9px;
                    height: 32px;
                    width: 63px;
                    border: solid 2px #dc977a;
                    border-top: none;
                 }      
            }
            .check-small{ /*smaller check sign*/
                  @include position(absolute, $top: -1px, $left: 39px);   
            }      
        }
    }
    .video-wraper-big{ /*main wraper*/
        padding: 20px 50px;
        background-color: #f6f6f6;
        border: solid 1px #e1e1e1;
        .video-wraper{ /*wideo white vraper*/
            background-color:white;
            padding: 20px 50px;
            .embed-responsive-item{
                margin-top: 10px;
            }
        }
        .video-wraper-difrent{ /*wraper difrent for second container and blue border right */
           border-left: 2px solid #57cbf5;
           border-bottom: 2px solid #57cbf5;
           padding-bottom: 45px;
        }
        .video-vraper-mrgin-left{
            padding: 12px 25px;
            margin-left: 46px;
        }
    }
    .icons-wraper{
        padding:10px;
        background-color: #F6F6F6;
        border-left: solid 1px #e1e1e1;
        border-right: solid 1px #e1e1e1;
        color: #2d2f34;
        text-align: end;
        .fa{
            font-size: 22px;
            color:#aba9a9;
            margin: 0 15px 0 3px;
            &:hover{
                color:#3fb1dc;
            }
        }
    }
    .coment-wraper{
        padding:15px 18px 15px 80px;
        background-color: #e5e5e5;
        position:relative;
        &:after { /*arrow up for coment section*/
            border: solid transparent;
            content: " ";
            @include position(absolute, $top: -29px, $left: 50%);
            border-bottom-color: #e5e5e5;
            border-width: 15px;
         }    
        .img {
            @include position(absolute, $bottom: 9px, $left: 13px);
        }
        .myCircle-small{
             @include position(absolute,$top:30px, $left: 9px);
             height: 34px;
             width: 65px;
             border-radius: 0 0 90px 90px;
             border: 2px solid rgb(63,137,166);
             border-top: none !important;
             z-index: 8;  
        }
        .btn-send{
            color: white;
            background-color: #5cc8f6;
            border-left: 1px solid white;
            border-radius: 0;
            padding: 6px 19px;
        }
        .fa-video-camera{
            color: white;
            vertical-align: middle;
            padding: 10px;
            background-color: rgb(195,205,194);
        }
        .form-control { /*placeholder icon*/
            font-family: "FontAwesome"
        }   
    }
    .check-small{ /*smaller check sign*/
        @include position(absolute, $top: 9px, $left: 60px);   
         font-size: 8px;
        color: white;
        background-color: #3ca3ca;
        padding: 2px;
        z-index: 100;
        border-radius:50%;
    }
 /*style of right side of main content*/
    .flex-container{ 
         @include FlexMix;
         justify-content: center;
         flex-wrap:wrap;
        .flex-item{
            width: 100%
        }
    }
    .groups{ /*sliders style*/
        width: 100%;
        max-width: 350px;
        min-width: 250px;
        background-color: #F6F6F6;
        padding:10px 10px 22px 10px;
        margin: 0 auto;
        .hedline-groups{ /*headline*/
            border-bottom:1px solid #c2c0c0;
            padding:0 5px 10px 0;
            @include FlexMix;
            justify-content: space-between;
        }
        .img1{
            margin-right: 5px;
        }
        .goup-row{
            @include FlexMix;
            font-size: 12px;
            border-bottom:1px solid #c2c0c0;
            height: 32px;
            .item1, .item2, .item4{
                flex:1;
            }
            .item2{
                border-left:1px solid #c2c0c0;
                margin-right: 5px;
               .img-pading{
                    padding-left:5px;
                 }
            }
            .item3{
                flex:8;
            }
            .item4{
                text-align:end;
            }
        }
        .events-wraper{
            border-bottom:1px solid #c2c0c0;
            padding: 16px 4px;
        }
    }
    .carousel-control-next, .carousel-control-prev {/* butons, arovs prev-next, and bulet indicators*/
        position: relative; 
        opacity: initial; 
        height: 23px;
        width:20px;
        display: inline-block;
    }
    .fa-angle-left, .fa-angle-right{
        font-size: 22px;
        color: black;
            &:hover{
                color:#5cc8f6;
            }
    }
    .carousel-indicators {
        bottom: -7px;
    }    
    .carousel-indicators li {
        width: 5px;
        height: 5px;
        border-radius:50%;
        margin-left: 2px;
        background-color:#c2c0c0;
    }    
    .carousel-indicators .active {
        background-color: #5cc8f6;
    }
    .aling{
        text-align:center;/*picture alingin*/
    }
    .img2{
        margin:0 auto;
        width: 100%;
        height: auto;
        max-width: 350px;
    }
}

.morecontent span { /*reed less and more*/
    display: none;
}
.more{ /*text font size*/
    font-size: 15px;
    text-align: center;
} 
.morelink{
    color: #5cc8f6;
} 
.font-size{
    font-size: 12px;
}
footer{   /*footer style*/
    .navbar-expand-lg{
        background-color:#5cc8f6;
        padding:9px 12%;
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-top:50px;
        z-index: 100000;   
    }
    .logo-wraper{
        margin:0;     
    }
    .learn-bottom{
        color:white !important;
        font-size: 13px !important;
        padding-left: 15px;
        margin-left:15px;
        border-left:1px solid white;
    }
    .navbar-light .navbar-nav .nav-link1 {
        color: white;
        font-size: 14px;
        padding-bottom:0;
    }
}

/*together style for tablets and mobile*/ 
@media only screen and (max-width:994px){
    .navbar-toggler:focus {    /* header style*/
        outline: 2px solid #5cc8f6 !important;
    }  
    .navbar{ 
        padding: 4px !important;
    }
    header .navbar-nav .dropdown-menu {
    position: absolute;
    top: 63px;
    left:0;
    width: 100%;
    }
    .form-inline{
        width: fit-content;
        margin: 0 auto !important;
        border-left: none !important;
    } 
    .nav-item-header{
       border-left: none !important; 
       border-top: 1px solid #e7e7e7;
    } 

     .main-content{   /*strech main content to whole screen*/
        width: 99%;
    } 
    .flex-container{
        flex-wrap: nowrap !important;
    }
    .flex1{
        margin-top: 30px;
    }
    /*footer style*/
    footer .navbar-nav{ /*to open up*/
        position: absolute;
        bottom: 49px;
        width: 100%;
        background-color: #5cc8f6;
    }    
    .nav-item1 a:hover{ 
        background-color: #3fb1dc;
        color:white !important;  
    }    
    
}
/*STYLE FOR TABLETS*/ 
@media only screen and (min-width:426px)and(max-width:768px){
    .logo-text, .learn-bottom{
        display: none;
    } 
    .video-wraper-big, .video-wraper{
       padding: 22px 7px 15px !important;
    }  
    .flex-container{
        flex-wrap:wrap !important;
    }        
}
/*STYLE FOR MOBILE PHONES*/ 
@media only screen and (max-width:427px){
    .logo-text, .no-display, .learn-bottom{
        display: none !important;
    } 
    .logo-img{
        margin-left:0 !important;
    }
    .navbar-toggler { /*making togler smaler*/
         padding:2px 6px !important;
     }
    .video-wraper-big, .video-wraper, .video-vraper-difrent{ /* removing big left and right pading of wrapers*/
        padding: 22px 7px 15px !important;
    } 
    .video-vraper-difrent{
        margin: 5px !important;
    } 
    .video-vraper-mrgin-left{
        padding:10px !important;
    }
    .btn-send, .wraper-white{
        font-size: 12px;
        padding: 9px 4px !important;
    }
    .header-small, .video-vraper-mrgin-left { /*removing big left margin*/
        margin-left: 10px !important;
    }    
    .fa-video-camera{ 
        padding: 11px 4px !important;
    }
    .more, .form-control, .icons-wraper>.number{ /*making text font smaler*/
    font-size: 13px !important; 
    }  
    h5, .icons-wraper>.fa{
        font-size: 19px !important;
    } 
      .flex-container{
        flex-wrap:wrap !important;
    }
}